{% extends "base.html" %}

{% block title %}
{{ page.title }} {%if page.subtitle %} - {{ page.subtitle }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
<article>
<div class="row-fluid">
    <header class="page_header span10 offset2">
    <h1><a href="{{ SITEURL }}/{{ page.url }}"> {{ page.title }} {%if page.subtitle %} <small> {{ page.subtitle }} </small> {% endif %} </a></h1>
    </header>
</div>

<div class="row-fluid">
    {% if page.toc %}
    <div class="span2 table-of-content">
        <nav>
        <h4>Contents</h4>
        {{ page.toc }}
        </nav>
    </div>
    <div class="span8 article-content">
        {% else %}
        <div class="span8 offset2 article-content">
            {% endif %}

            {{ page.content }}
        </div>
        <section>
        <div class="span2" style="float:right;font-size:0.9em;">
            {% if page.date %} 
            <h4>Published</h4>
            {% set day = page.date.strftime('%d')|int %}
            <time pubdate="pubdate" datetime="{{ page.date.isoformat() }}">{{ page.date.strftime('%b') }} {{ day }} {{- page.date.strftime(', %Y') }}</time>
            {% endif %}
            {% if page.modified %} 
            <h4>Last Updated</h4>
            <div class="last_updated">{{ page.modified }}</div>
            {% endif %}
      
            {% if MAILCHIMP_FORM_ACTION %}
            {% if not EMAIL_SUBSCRIPTION_LABEL %}
            {% set EMAIL_SUBSCRIPTION_LABEL='Email Newsletter' %}
            {% endif %}
            {% if not SUBSCRIBE_BUTTON_TITLE %}
            {% set SUBSCRIBE_BUTTON_TITLE='Subscribe' %}
            {% endif %}
            {% if not EMAIL_PLACEHOLDER %}
            {% set EMAIL_PLACEHOLDER ='email address' %}
            {% endif %}
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="{{ MAILCHIMP_FORM_ACTION }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <h4>{{ EMAIL_SUBSCRIPTION_LABEL }}</h4>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ EMAIL_FIELD_PLACEHOLDER }}" required>
                    <div class="clear"><input type="submit" value="{{ SUBSCRIBE_BUTTON_TITLE }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </form>
            </div>

            <!--End mc_embed_signup-->
            {% endif %}
        </div>
        </section>
    </div>
    </article>
    {% endblock content %}

    {% block script %}
    {{ super() }}
    <script src="{{ SITEURL }}/theme/js/format-google-calendar.js"></script>
    <script>
      if (typeof fgc_init != "undefined")
      {
        formatGoogleCalendar.init(fgc_init);        
      }
    </script>
    
    {% endblock script %}
